
    @media (max-width: 1290px){
        header > h1 { 
            font-size:  45px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:cornsilk;
            text-align: center;
            margin-bottom: 10px;
            
            display: inline-block;
            margin-left: 100px;
            }
            #Main { 
                background:url(Img/img\ \(1\).jpg);
                width:  80%;
                height: 970px;
                margin-left: 5%;
              }
              
            }
            @media (max-width: 1195px){
      
                /* _Header__ */
                header > h1 { 
                    font-size:  35px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: cornsilk;
                    text-align: center;
                    margin-bottom: 10px;
                    
                    display: inline-block;
                    margin-left: 100px;
                    }
              
              }
                @media (max-width: 1000px){
    
                    /* _Header__ */
                    header > h1 { 
                        font-size:  25px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        color: cornsilk;
                        text-align: center;
                        margin-bottom: 10px;
                        
                        display: inline-block;
                        margin-left: 100px;
                        }
           
                /* __Nav__ */
                
                nav {
                    width: 90%;
                    height: 60px;
                    background:url(Img/img\ \(2\).jpg);
                    margin-left: 5%;
                    margin-right: 5%;
                    border-radius: 7px;  
                    }
                
                
                nav > ul {
                    text-align: center;
                    padding-top: 15px;
                  }
                  
                  nav > ul > a{text-decoration: none; font-family: cursive;
                    color: cornsilk;
                    font-size:  15px;
                    padding: 15px;
                    }
                     nav > ul > a:hover {
                         transition:500ms;
                        background-color: rgb(74, 143, 233); 
                        color: white}
                }
        
@media (max-width:900px) {
    iframe {
    width: 300px;
    height: 300px;
}
}
@media (max-width:700px) {
    h2 { 
        font-size: 20px;
    }
    p { font-size: 10px;}
    iframe {
    width: 250px;
    height: 250px;
}
}
@media (max-width:560px) {
    iframe {
    width: 300px;
    height: 300px;
}
#seccion {
    font-family: cursive;
    margin-top: 45px;
    width: 90%;
    height: 740px;
    background-color: darkgray;
    /* margin-top: 10px; */
    box-shadow:1px 1px 10px black;
    display: inline-block;
    }
}
@media (max-width:400px) {
    iframe {
    width: 250px;
    height: 250px;
}
#seccion {
    font-family: cursive;
    margin-top: 45px;
    width: 95%;
    height: 740px;
    background-color: darkgray;
    /* margin-top: 10px; */
    box-shadow:1px 1px 10px black;
    display: inline-block;
    }


    /* header */
    header > h1 { 
        font-size:  15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(41, 157, 165);
        text-align: center;
        margin-bottom: 10px;
        
        display: inline-block;
        margin-left: 100px;
        }
    header > img {
     
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-top: 0px;
        display:inline-block;
        animation-name: logo;
        animation-duration: .5s;    
        }
    
    nav {
        margin-top: 10px;
        width: 90%;
        height: 60px;
        background:url(Img/img\ \(2\).jpg);
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 7px;  
        }
    
    
    nav > ul {
        text-align: center;
        padding-top: 20px;
      }
      
      nav > ul > a{text-decoration: none; font-family: cursive;
        color: cornsilk;
        font-size:  10px;
        padding: 20px;
        }
         nav > ul > a:hover {
             transition:500ms;
            background-color: rgb(74, 143, 233); 
            color: white;
            box-shadow: 0px 2px 2px greenyellow;
          }
}